/* My Awesome Styles */
/* Doodle Stage */
#stage {
  background: #87CEEB;  
  height: 400px;
  width: 600px;
}

#sun {
  fill: yellow;
}

.grass { 
  fill: green;
}

#banana { 
  fill: #FFE279;
}

#apple {
  fill: #dd1533;
}

#fish { 
  fill: #d1edf2;
}

/* #one {
  fill: red;
}

#two {
  fill: red;
}

#three {
  fill: red;
}

#four {
  fill: red;
} */
 
@keyframes sway {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.grass {
  animation: sway 2s ease-in-out infinite;
  transform-origin: bottom center;
}

#grass-right {
  animation-delay: 0s;
}

#grass-left {
  animation-delay: 0.2s;
}