/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px solid black;
}

/* Doodle Stage */
#stage {
  background: #93C47D;
  height: 400px;
  width: 600px;
}